@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGroteskt";
  src: url(SpaceGroteskt.ttf) format("truetype");
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202B3B; 
  border-radius: 0.375rem;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b; 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}